---
layout: page
---

{{ content }}
<!--<script>
  function myFunction() {
    var x = document.getElementById("postsByYear-wrapper");
	if (x.style.display == "none") {
	  x.style.display = "block";
	} else {
	  x.style.display = "none";
	}
  }
</script>
<p>
<button class="btn--success" onclick="myFunction()">Test Button</button>
<button class="btn--info">Test Button 2</button>
</p>-->



<div id="postsByYear-wrapper">
	<ul class="taxonomy-index">
	  {% assign postsBy25 = site.posts | group_by_exp: 'post', 'post.number | minus: 1 | divided_by: 25 | floor' %}
	  {% assign postsBy25 = postsBy25 | sort: "name" %}
	  {% for cat in postsBy25 %}
		<li>
		  <a href="#{{ cat.name }}">
			<strong>Problems {{ cat.name | times: 25 | plus: 1}}-{{ cat.name | plus: 1 | times: 25 }}</strong> <span class="taxonomy-count">{{ cat.items | size }}</span>
		  </a>
		</li>
	  {% endfor %}
	</ul>

	{% assign postsBy25 = site.posts | group_by_exp: 'post', 'post.number | minus: 1 | divided_by: 25 | floor' %}
	{% assign postsBy25 = postsBy25 | sort: "name" %}
	{% for cat in postsBy25 %}
	  <section id="{{ cat.name }}" class="taxonomy-section">
		<h2 class="taxonomy-title">Problems {{ cat.name | times: 25 | plus: 1}}-{{ cat.name | plus: 1 | times: 25 }}</h2>
		<div class="entries-{{ page.entries_layout | default: 'list' }}">
		  {% assign sortedPosts = cat.items | sort: "number" %}
		  {% for entry in sortedPosts %}
			{% include entry.html %}
		  {% endfor %}
		</div>
		<a href="#page-title" class="back-to-top">{{ site.data.text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
	  </section>
	{% endfor %}
</div>
